* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #615551;
  background-image: linear-gradient(to right bottom, #2b3137, #24292e);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 8vw);
}

.container {
  max-width: 120rem;
  min-height: 80rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(97, 85, 81, 0.2);
}

@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

.btn,
.btn--small,
.btn--small:link,
.btn--small:visited {
  background-image: linear-gradient(to right bottom, #2b3137, #24292e);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn--small:hover,
.btn:hover {
  transform: scale(1.05);
}

.btn--small:focus,
.btn:focus {
  outline: none;
}

.btn--small > :first-child,
.btn > :first-child {
  margin-right: 1rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn--small,
.btn--small:link,
.btn--small:visited {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.25rem 2.25rem;
  text-decoration: none;
}

.btn--small:link svg,
.btn--small:visited svg,
.btn--small svg {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
}

.btn--inline {
  color: #24292e;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: #f9f5f3;
  padding: 0.8rem 1.2rem;
  border-radius: 10rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover {
  color: #24292e;
  background-color: #f2efee;
}

.btn--inline:focus {
  outline: none;
}

.btn--round {
  background-image: linear-gradient(to right bottom, #2b3137, #24292e);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn--round:hover {
  transform: scale(1.07);
}

.btn--round:focus {
  outline: none;
}

.btn--round svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;
}

.btn--tiny svg {
  height: 100%;
  width: 100%;
  fill: #24292e;
  transition: all 0.3s;
}

.btn--tiny:focus {
  outline: none;
}

.btn--tiny:hover svg {
  fill: #24292e;
  transform: translateY(-1px);
}

.btn--tiny:active svg {
  fill: #24292e;
  transform: translateY(0);
}

.disabled_btn{
  opacity: .3;
}

.btn--tiny:not(:last-child) {
  margin-right: 0.3rem;
}

.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: #24292e;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  text-align: center;
}

.heading--3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #24292e;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
}

.link:link,
.link:visited {
  color: #918581;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #24292e;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(1turn);
  }
}

.error,
.message {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
}

.error svg,
.message svg {
  height: 3rem;
  width: 3rem;
  fill: #24292e;
  transform: translateY(-0.3rem);
}

.error p,
.message p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}

.header {
  grid-area: head;
  background-color: #f9f5f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.header__logo {
  margin-left: 4rem;
  height: 4.6rem;
  display: block;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
}

.search__field {
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 30rem;
}

.number_form {
  display: flex;
  flex-direction: column;
}

.number_form label {
  font-weight: 600;
}
.number__field {
  padding: 0.5rem;
  border: 1px solid #918581;
  border-radius: 0.5rem;
  background: #fff;
  font-family: inherit;
  color: inherit;
  font-size: 1.7rem;
  width: 10rem;
}
.number__field + button {
  background-image: linear-gradient(to right bottom, #2b3137, #24292e);
  border-radius: 0.5rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  width: 10rem;
  margin-top: 4px;
}

.search__field:focus {
  outline: none;
}

.search__field::placeholder {
  color: #d3c7c3;
}

@media only screen and (max-width: 61.25em) {
  .search__field {
    width: auto;
  }

  .search__field::placeholder {
    color: #fff;
  }
}

.search__btn {
  font-weight: 600;
  font-family: inherit;
}

.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
}

.pagination:after {
  content: "";
  display: table;
  clear: both;
}

.pagination__btn--prev {
  float: left;
}

.pagination__btn--next {
  float: right;
}

.user {
  background-color: #fff;
  display: flex;
}

.repos {
  background-color: #f9f5f3;
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  place-items: center;
  gap: 1rem;
}

.repos_fig {
  border: 1px solid #2b3137;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  width: 100%;
}

.repos_fig p {
  font-size: 1rem;
  font-weight: 600;
}

.repos_fig a {
  color: #24292e;
}

.repos_topics {
  display: flex;
  gap: 8px;
  border-top: 1px solid #2b3137;
  margin-top: 1rem;
  padding-top: 1rem;
}

.topic_pill {
  color: white;
  background-color: #24292e;
  border-radius: 1rem;
  padding: 0.45rem;
}

.repos_counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
}

.user__fig {
  position: relative;
  transform-origin: top;
}

.user__img {
  display: block;
  height: 100%;
  width: 100%;
}

.user__img {
  object-fit: contain;
}

.user__title {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-60%, 20%) skewY(-6deg);
  color: #fff;
  font-weight: 700;
  font-size: 3.25rem;
  text-transform: uppercase;
  width: 50%;
  line-height: 1.95;
  text-align: center;
}

.user__title span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 1.3rem 2rem;
  background-image: linear-gradient(to right bottom, #2b3137, #24292e);
}

@media only screen and (max-width: 61.25em) {
  .user__title {
    width: 70%;
  }
}

.user__details {
  padding: 7.5rem 8rem 3.5rem;
}

.user__details,
.user__info {
  display: flex;
  align-items: center;
}

.user__info {
  font-size: 1.65rem;
  text-transform: uppercase;
}

.user__info-icon {
  height: 2.35rem;
  width: 2.35rem;
  fill: #24292e;
  margin-right: 1.15rem;
}

.user__info-data {
  margin-right: 0.5rem;
  font-weight: 700;
}

.user__info-buttons {
  display: flex;
  margin-left: 1.6rem;
  transform: translateY(-1px);
}

.user__user-generated {
  background-color: #eeeae8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  border-radius: 10rem;
  margin-left: auto;
  margin-right: 1.75rem;
}

.user__user-generated svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: #24292e;
}

.user__ingredients {
  width: 100%;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: #f2efee;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__ingredient-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1.5rem;
  list-style: none;
}

.user__ingredient {
  display: flex;
}

.user__icon {
  height: 2rem;
  width: 2rem;
  fill: #24292e;
  margin-right: 1.1rem;
  flex: 0 0 auto;
  margin-top: 0.1rem;
}

.user__quantity {
  margin-right: 0.5rem;
  flex: 0 0 auto;
}

.user__directions {
  padding: 5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__directions-text {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 3.5rem;
  color: #918581;
}

.user__publisher {
  font-weight: 700;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1rem;
}

.pagination button {
  color: black;
  background-color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #2b3137;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .disabled {
  opacity: 0;
}

.pagination .active {
  background-color: #24292e;
  color: white;
  border-radius: 5px;
}
